



<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{.Title}}</title>
<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
		<h1>{{.Title}}</h1>

		<p>[<a href="/edit/{{.Title}}">edit</a>]</p>

		<div>{{printf "%s" .Body}}</div>
</body>

</html>